.text-white{
	color: #fff!important;
}
.padding-0{
	padding: 0!important;
}
.bg-noColor{
	background: none!important;
}
.bg-colorRed{
	background: #ff6248!important;
}
.bg-color28{
	background: #282828!important;
}
.bg-color3a{
	background: #3a3a3a!important;
}
.bg-color30{
	background: #303030!important;
}
.text-hpColor{
	color: #2753a0!important;
}
.text-color28{
	color: #282828!important;
}
.text-color30{
	color: #303030!important;
}
.text-color2D{
	color: #2D2D2D!important;
}
.text-color999{
	color: #999!important;
}
.text-colorCCC{
	color: #ccc!important;
}
.text-colorRed{
	color: #ff6248!important;
}
.hp-radius{
	border-radius: 10px!important;
}
.padding-bottom-0{
	padding-bottom: 0;
}
.widthheight100{
	width: 100%!important;
	height: 100%!important;
}
.solid{
	border: 1px solid #fff;
	display: inline-block;
}